@import '../../styles/variables';
@import '../../styles/mixins';

.login-page {
  margin-top: 5rem;

  form {
    @include card;

    input {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }
}
