@use './variables' as vars;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card {
  background-color: #fff;
  padding: 1rem;
  border-radius: vars.$border-radius;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
